@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    --primary-color: #264653;
    --secondary-color: #2A9D8F;
    --primary-white: #ffffff;
    --secondary-white: #fcfcfc;
    --yellow: #FFD60A;
    --orange: #E76F51;
}

body {
    font-size: 1.6rem;
    background: var(--secondary-white);
}
/* Nav Bar Static */
.navbar-static {
    width: 100%;
    height: 60px;
    background: var(--primary-color);
    margin: 0 auto;
    position: relative;
}
.navbar-static ul {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar-static ul p {
    display: flex;
    align-items: center;
    color: var(--secondary-white);
    font-size: 1.6rem;
    font-weight: 600;
}
.navbar-static ul p i {
    font-size: 3rem;
    margin-right: 1rem;
}
.navbar-static ul li {
    display: flex;
    align-items: center;
    background-color: var(--yellow);
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
}
.navbar-static ul li a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}
.navbar-static ul li > a::after {  
    content:  "";
    display: block;
    width: 0;
    height: 4px;
    border-radius: 200px;
    transition: all 0.3s ease;
    background: var(--primary-color);
    position: absolute;
    bottom: 16px;
}
.navbar-static ul li > a:hover::after {
    width: 5%;
}

/* Nav Bar */
.navbar-container {
    width: 100%;
    background: var(--secondary-white);
}
.navbar {
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul {
    display: flex;
    position: relative;
}
.navbar ul li {
    list-style: none;
}
.navbar ul li:not(:last-child) {
    margin-right: 1.8rem;
}
.navbar ul li > a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    cursor: pointer;
    transition: all 0.3s ease;
}
.navbar ul li > a:hover {
    color: var(--secondary-color);
}
.navbar ul li > a::after {  
    content:  "";
    display: block;
    width: 0;
    height: 4px;
    border-radius: 200px;
    transition: all 0.3s ease;
    position: absolute;
    bottom: -5px;
    background: var(--primary-color);
    /* background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(38,70,83,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(38,70,83,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(38,70,83,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(38,70,83,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(38,70,83,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(38,70,83,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#264653', GradientType=1 ); */
}
.navbar ul li > a:hover::after {
    width: 15%;
}


/* Titulo Header */
.titulo-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    background: var(--primary-color);
    margin-bottom: 6rem;
}
.titulo-header .titulo {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--yellow);
    font-size: 9.6rem;
    font-weight: 600;
}


/* Sobre nós */
.sobre {
    width: 100%;
}
.sobre-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.missao,
.valorizamos,
.ensino,
.historia {
    padding-bottom: 3rem;
}
.missao .missao-titulo,
.valorizamos .valorizamos-titulo,
.ensino .ensino-titulo,
.historia .historia-titulo {
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 700;
}
.missao .missao-subtitulo,
.valorizamos .valorizamos-subtitulo,
.ensino .ensino-subtitulo,
.historia .historia-subtitulo {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 300;
}
.historia .historia-subtitulo {
    margin-bottom: 2rem;
}
.historia .historia-subtitulo:nth-last-child(-n+1) {
    margin-bottom: 16rem;
}







/* Footer */
.footer {
    background-image: url('/assets/images/links.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    position: relative;
}
.footer::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.45);
}
.footer-container {
    display: flex;
    color: #ffffff;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 1;
}
.footer-container div {
    width: 50%;
}
.footer-container .sobre .titulo,
.footer-container .links-rapidos .titulo {
    font-size: 5rem;
    font-weight: 700; 
}
.footer-container .sobre .titulo::before,
.footer-container .links-rapidos .titulo::before {
    content: "";
    position: absolute;
    height: 0.5rem;
    width: 100px;
    top: 190px;
    background-color: var(--secondary-color);
}
.footer-container .sobre .subtitulo {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 3rem 0;
}
.footer-container .sobre i {
    font-size: 1.6rem;
    margin-right: 0.5rem;
    padding-bottom: 1.4rem;
}
.footer-container .sobre .endereco,
.footer-container .sobre .email,
.footer-container .sobre .telefone,
.footer-container .sobre .cnpj {
    font-size: 1.4rem;
    font-weight: 700;
}
.footer-container .links-rapidos .bloco-links {
    font-size: 1.8rem;
    font-weight: 800;
    display: block;
    padding-top: 2rem;
}
.footer-container .links-rapidos .links {
    padding: 1rem 0;
}
.footer-container .links-rapidos .links a {
    color: var(--primary-white);
    text-decoration: none;
    cursor: pointer;
}


/* Copyright & Social Media */
.copyright-container {
    width: 100%;
    background: var(--secondary-color);
}
.copyright {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.copyright .copy {
    color: var(--primary-white);
    font-size: 1.4rem;
    font-weight: 400;
}
.copyright .social {
    color: var(--primary-white);
    font-size: 2.5rem;
    cursor: pointer;
}
.copyright .social i {
    color: var(--primary-white);
    background: var(--primary-color);
    padding: 1rem;
    border-radius: 50px;
}
.copyright .social i:hover {
    background: var(--primary-white);
    color: var(--primary-color);
}
