@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    --primary-color: #264653;
    --secondary-color: #2A9D8F;
    --primary-white: #ffffff;
    --secondary-white: #fcfcfc;
    --yellow: #FFD60A;
    --orange: #E76F51;
}

body {
    font-size: 1.6rem;
    background: var(--secondary-white);
}
/* Nav Bar Static */
.navbar-static {
    width: 100%;
    height: 60px;
    background: var(--primary-color);
    margin: 0 auto;
    position: relative;
}
.navbar-static ul {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar-static ul p {
    display: flex;
    align-items: center;
    color: var(--secondary-white);
    font-size: 1.6rem;
    font-weight: 600;
}
.navbar-static ul p i {
    font-size: 3rem;
    margin-right: 1rem;
}
.navbar-static ul li {
    display: flex;
    align-items: center;
    background-color: var(--yellow);
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
}
.navbar-static ul li a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}
.navbar-static ul li > a::after {  
    content:  "";
    display: block;
    width: 0;
    height: 4px;
    border-radius: 200px;
    transition: all 0.3s ease;
    background: var(--primary-color);
    position: absolute;
    bottom: 16px;
}
.navbar-static ul li > a:hover::after {
    width: 5%;
}

/* Nav Bar */
.navbar-container {
    width: 100%;
    background: var(--secondary-white);
}
.navbar {
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul {
    display: flex;
    position: relative;
}
.navbar ul li {
    list-style: none;
}
.navbar ul li:not(:last-child) {
    margin-right: 1.8rem;
}
.navbar ul li > a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    cursor: pointer;
    transition: all 0.3s ease;
}
.navbar ul li > a:hover {
    color: var(--secondary-color);
}
.navbar ul li > a::after {  
    content:  "";
    display: block;
    width: 0;
    height: 4px;
    border-radius: 200px;
    transition: all 0.3s ease;
    position: absolute;
    bottom: -5px;
    background: var(--primary-color);
    /* background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(38,70,83,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(38,70,83,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(38,70,83,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(38,70,83,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(38,70,83,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(38,70,83,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#264653', GradientType=1 ); */
}
.navbar ul li > a:hover::after {
    width: 15%;
}

/* Imagem Hedaer */
.imagem-header {
    width: 100%;
    /* max-width: 1200px; */
    height: 520px;
    margin: 0 auto;
    background-color: #000000;
    /* background: #000000 url("/assets/images/female-speak.jpg") no-repeat; */
}
.imagem-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* background-size: cover; */
    opacity: 0.5;
}

/* Treinamentos */
.wrapper p {
    color: var(--primary-color);
    font-size: 4.8rem;
    margin: 6rem 0 2rem 0;
}
.wrapper p strong {
    color: var(--secondary-color);
}
.wrapper {
    max-width: 1200px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    background: var(--secondary-white);
}
.wrapper .arrow {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: var(--primary-color);
    color: var(--primary-white);
    font-size: 3rem;
    font-weight: 900;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.wrapper .arrow:active{
    transform: translateY(-50%) scale(0.85);
}
.wrapper .arrow:first-child{
    left: -22px;
}
.wrapper .arrow:last-child{
    right: -22px;
}
.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) + 80px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 10px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel.no-transition {
    scroll-behavior: auto;
}
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}
.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .card {
    display: flex;
    scroll-snap-align: start;
    /* height: 342px; */
    /* height: 520px; */
    width: 360px;
    list-style: none;
    background: var(--primary-white);
    cursor: pointer;
    /* padding-bottom: 15px; */
    flex-direction: column;
    border-radius: 8px;
    /* background: #FFD60A; */
    /* position: relative; */
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
    margin-bottom: 6rem;
} 
@media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
}
  
@media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
}
.wrapper .card .card-img-top {
    width: 100%;
    top: 0 !important;
    /* border-radius: 8px; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.wrapper .card-title {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 900;
    margin-left: 1.4rem;
    margin-top: 2rem;
}
.wrapper .card-price {
    font-size: 3rem !important;
    font-weight: 900;
    color: var(--primary-color);
    margin-left: 1.4rem;
    margin-top: 4rem;
    margin-bottom: 0 !important;
}
.wrapper .card-text {
    font-size: 1.4rem !important;
    font-weight: 400;
    color: var(--primary-color);
    margin-left: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 0 !important;

}
.wrapper .card-time {
    font-size: 1.4rem !important;
    font-weight: 400;
    color: var(--primary-color);
    margin-left: 1.4rem;
    margin-top: 1.4rem;
    margin-bottom: 0 !important;

}
.wrapper .card-time .clock {
    font-size: 1.4rem !important;
    font-weight: 400;
    color: var(--primary-color);
    /* margin-left: 0rem; */
    margin-top: 1.4rem;
    margin-bottom: 1.4rem !important;

}
.card ul li {
    list-style: none;
}
.card ul li a {
    background: var(--primary-color);
    display: block;
    position: relative;
    bottom: 0 !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    height: 6rem;
    color: var(--primary-white);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.card ul li a:hover {
    background: var(--secondary-color);
}
.card ul li a::after {  
    content:  "";
    display: block;
    width: 0;
    height: 4px;
    border-radius: 200px;
    transition: all 0.3s ease;
    background: var(--primary-color);
    position: absolute;
    bottom: 10px !important;
}
.card ul li a:hover::after {
    width: 25%;
}
/* Sou Empresa */
.sou-empresa {
    position: relative;
    width: 100%;
}
.sou-empresa img {
    width: 100%;
    height: 720px;
    object-fit: cover;
}
.sou-empresa-container {
    max-width: 1200px;
    margin: 0 auto;
}
.sou-empresa-titulo .titulo {
    position: absolute;
    top: 65px;
    font-size: 4.8rem;
    color: var(--primary-white);
}
.sou-empresa-titulo strong {
    color: var(--yellow);
    font-size: 4.8rem;
    margin-bottom: 0.5rem;
}
.sou-empresa-titulo .sub-titulo {
    position: absolute;
    top: 130px;
    font-size: 1.6rem;
    color: var(--primary-white);
}
.contato-form {
    position: absolute;
    top: 210px;
    /* background-color: aqua; */
    width: 100%;
    max-width: 1200px;
}
.contato-form p {
    color: var(--yellow);
    font-size: 3.2rem;
    font-weight: 800;
}
.contato-form input[type=text],
.contato-form input[type=number],
.contato-form input[type=tel],
.contato-form input[type=email] {
    width: 100%;
    padding: 20px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: #666666;
}
.contato-form .form-area-1,
.contato-form .form-area-2 {
    width: 100%;
    display: flex;
    gap: 1.6rem;
}
.contato-form input::placeholder,
.contato-form textarea::placeholder  {
    color: #c9c9c9;
}
.contato-form textarea {
    width: 100%;
    height: 150px;
    padding: 20px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 0.5rem;
    /* border: 2px solid #ccc; */
    /* background-color: #f8f8f8; */
    border: none;
    resize: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #666666;
    font-family: 'Poppins', sans-serif;
}
.contato-form input[type=button], 
.contato-form input[type=submit], 
.contato-form input[type=reset] {
    background-color: var(--yellow);
    border: none;
    color: var(--primary-color);
    font-size: 2.4rem;
    font-weight: 900;
    border-radius: 0.5rem;
    padding: 16px 90px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
}
.contato-form input[type=button]:hover, 
.contato-form input[type=submit]:hover, 
.contato-form input[type=reset]:hover {
    background: none;
    border: 1px solid var(--yellow);
    color: var(--yellow);
}
/* Nossos Clientes */
.nossos-clientes {
    width: 100%;
    background: var(--primary-white);
}
.nossos-clientes .nossos-clientes-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
}
.nossos-clientes .title-nossos-clientes {
    font-size: 4.8rem;
    color: var(--primary-color);
    margin: 3rem 0 1rem 0;
}
.nossos-clientes .title-nossos-clientes strong {
    color: var(--secondary-color);
    font-size: 4.8rem;
    margin-bottom: 0.5rem;
}
@-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 4));
    }
  }
  
 @keyframes scroll {
   0% {
     transform: translateX(0);
   }
   100% {
     transform: translateX(calc(-250px * 4));
   }
 }
 .slider {
   background: var(--primary-white);
   /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
   height: 100px;
   margin: 3rem auto;
   overflow: hidden;
   position: relative;
   width: 100%;
 }
 .slider::before, .slider::after {
   background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
   content: "";
   height: 100px;
   position: absolute;
   width: 200px;
   z-index: 2;
 }
 .slider::after {
   right: 0;
   top: 0;
   transform: rotateZ(180deg);
 }
 .slider::before {
   left: 0;
   top: 0;
 }
 .slider .slide-track {
   -webkit-animation: scroll 40s linear infinite;
           animation: scroll 40s linear infinite;
   display: flex;
   width: calc(250px * 8);
 }
 .slider .slide {
   height: 100px;
   width: 250px;
 }

/* Footer */
.footer {
    background-image: url('/assets/images/links.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    position: relative;
}
.footer::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.45);
}
.footer-container {
    display: flex;
    color: #ffffff;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 1;
}
.footer-container div {
    width: 50%;
}
.footer-container .sobre .titulo,
.footer-container .links-rapidos .titulo {
    font-size: 5rem;
    font-weight: 700; 
}
.footer-container .sobre .titulo::before,
.footer-container .links-rapidos .titulo::before {
    content: "";
    position: absolute;
    height: 0.5rem;
    width: 100px;
    top: 190px;
    background-color: var(--secondary-color);
}
.footer-container .sobre .subtitulo {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 3rem 0;
}
.footer-container .sobre i {
    font-size: 1.6rem;
    margin-right: 0.5rem;
    padding-bottom: 1.4rem;
}
.footer-container .sobre .endereco,
.footer-container .sobre .email,
.footer-container .sobre .telefone,
.footer-container .sobre .cnpj {
    font-size: 1.4rem;
    font-weight: 700;
}
.footer-container .links-rapidos .bloco-links {
    font-size: 1.8rem;
    font-weight: 800;
    display: block;
    padding-top: 2rem;
}
.footer-container .links-rapidos .links {
    padding: 1rem 0;
}
.footer-container .links-rapidos .links a {
    color: var(--primary-white);
    text-decoration: none;
    cursor: pointer;
}


/* Copyright & Social Media */
.copyright-container {
    width: 100%;
    background: var(--secondary-color);
}
.copyright {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.copyright .copy {
    color: var(--primary-white);
    font-size: 1.4rem;
    font-weight: 400;
}
.copyright .social {
    color: var(--primary-white);
    font-size: 2.5rem;
    cursor: pointer;
}
.copyright .social i {
    color: var(--primary-white);
    background: var(--primary-color);
    padding: 1rem;
    border-radius: 50px;
}
.copyright .social i:hover {
    background: var(--primary-white);
    color: var(--primary-color);
}
